<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  TweetGram Feed
</h2>
<div class="ui center">
<ul>
  <% @posts.reverse.each do |post| %>
    <%= post.user.email %>
    <li>
      <%= link_to post.content, post %>
    </li>
    <%= post.created_at.strftime("%m/%d/%Y at %I:%M %p") %>
    <br>
  <% end %>
</ul>
</div>