<%= link_to 'Your Bio', user_bio_path(@user_id) %>

<h1>Click a Post to view comments</h1>
<%= link_to 'Create a New Post', new_post_path %>
<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.content, post %>
    </li>
  <% end %>
</ul>